
body{
    margin: 0px;
    display: flex;
       flex-direction: column;
 
    align-items: center;
       height: 100vh;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       background-image:  url("/Resources/birthdayBG.jpg");
background-size: cover;
background-position: center;
}

.container{
    width:50vw;
    margin-top: 1rem;
background-color: #FBCB2B;
    display:flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;

}
label{
    margin-top:1rem;
    color: #0065a3;
  
}
#submit{
    padding:.5rem;
    color: #0065a3;
    margin:1rem auto;
    /* height : 2rem; */
    border-radius: .25rem;
    font-size: large;
border: 2px solid #0065a3;
}
input{
    border-radius: .25rem;
      border: 2px solid  #0065a3;
      color: #0065a3;
      padding:4px;
}
input::placeholder{
     color: #0065a3;
}
.heading{
    color:#0065a3;
}
#output-box{
margin: auto;
    color: #0065a3;
    font-size: larger;
    font-weight: bold;
}